body{
    background-color: orange;
    justify-content: center;
    display: flex;
}
.container{
    background-color: aliceblue;
    text-align: center;
    border: 3px solid white;
    padding: 30px;
    font-size: 15px;
}
input{
    padding: 5px;
    font-size: 15px;
    margin: 5px;
}